body {
    background-image: url(../images/map-of-the-world-2401458_1920.jpg);
    background-size: cover;
    margin: 0;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;  
    margin-left: 71.3%  
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 150px;
    overflow: hidden;
}

li a:hover {
    background-color: deepskyblue;
}

#head {
    background-color: deepskyblue;
    width: 100%;
    border-bottom: 5px black;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: solid;
    margin-bottom: 40px;
    position: relative;
    }

#your_name {
    text-align: center;
    padding: 20px;
    background-color: lightgray;
    width: 20%;
    position: relative;
    left: 50px;
    bottom: 0;
    top: 46px;
    font-size: 36px;
    font-weight: bold;
}

.info {
    position: relative;
    text-align: center;
    background-image: url(../images/dynamic-style.png);
    width: 960px;
    margin: 50px auto;
    padding: 20px;
    overflow: hidden;
    border: 3px solid black;
    
    }

h1 {
    position: relative;
    float: left;
    padding: 15px;
    margin-bottom: 50px;
    font-size: 36px;
    width: 95%;
    text-align: left;
    border-bottom: 3px solid black;
    font-weight: bolder;
}

#me {
    float: left;
    position: relative;
    overflow: hidden;
    left: 5px;
    padding-right: 15px;
}

p {
    font-size: 26px;
    line-height: 1.8;
    text-align: left;
    text-indent: 50px;
}
    
#footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: deepskyblue;
    height: 50px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: black;
    margin-bottom: 0;
    padding-top: 15px;
    font-size: 20px;
}
