body {
    background-color: bisque;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: aqua;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100px;
}

li a:hover {
    background-color: aquamarine;
}

.head {
    background-color: deepskyblue;
    width: 100%;
    border-bottom: 5px black;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: solid;
    margin-bottom: 40px;
    position: relative;
    }

#your_name {
    text-align: center;
    padding: 20px;
    background-color: aqua;
    width: 20%;
    position: relative;
    left: 0;
    font-size: 26px;
    font-weight: bold;


}

.info {
    position: relative;
    text-align: center;
    background-color: aliceblue;
    width: 960px;
    margin: 50px auto;
    padding: 20px;
    overflow: auto;
    background-image: url(dynamic-style/dynamic-style.png);
    }

h1 {
    position: relative;
    float: left;
    padding: 20px;
    margin-bottom: 50px;
    line-height: 45px;
    font-size: 36px;
    width: 960px;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: 100%;
    border-bottom-color: black;
}

#me {
    float: left;
    position: relative;
    overflow: hidden;
    left: 5px;
}

p {
    font-size: 20px;
}
    
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: deepskyblue;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: black;
    margin-bottom: 0;
}
